<nav>
    <a routerLink="/">Home</a>
    |
    <a routerLink="/user">User</a>
    |
    <a routerLink="/parent">Parent</a>
    |
    <a routerLink="/child">Child</a>
    |
    <a routerLink="/concept-component">Component-concept</a>
    |
    <a routerLink="/defer">Defer-concept</a>
    |
    <a routerLink="/dynamic-image">Dynamic-image-concept</a>
    |
    
    <a routerLink="/forms">Forms-concept</a>

    |
    
    <a routerLink="/reactive-forms">Reactive-Forms-concept</a>
    |
    
    <a routerLink="/pipe">Pipe-concept</a>
    |
    <a routerLink="/angular-material">Angular material</a>

  </nav>
  <!-- <nav>
    <a href="/">Home</a>
    |
    <a href="/user">User</a>
    |
    <a href="/parent">Parent</a>
    |
    <a href="/child">Child</a>
    |
    <a href="/concept-component">Component-concept</a>
    |
    <a href="/defer">Defer-concept</a>
    |
    <a href="/dynamic-image">Dynamic-image-concept</a>
  </nav> -->