
<h1>
    concept-component  Component getting loaded 
</h1>
<p>concept-component works!</p>


<h1>
    Username loaded from TS dynamically
</h1>
<span>Username: {{ username }}</span>
<br>

<h1>
    IF else condition used in HTML based on TS variable
</h1>
@if (isServerRunning) {
    <span>Yes, the server is running</span><br>
    } @else {
    <span>No, the server is not running</span>
    } 

    <!-- <div *ngIf="isServerRunning">Content to render when condition is true.</div> --> 

    <h1>
       For loop condition used in HTML based on TS variable
    </h1>
    
    <!-- <ul>
        <li *ngFor="let item of friendslist">
          The name and age is here
        </li>
      </ul> -->

    <ul>
        @for(user of users; track user.id) {
            <li><a href="#{{user.name}}'">{{ user.id }}--{{ user.name }} -- {{user.degree}}</a></li>
            }
    </ul>
   

    <br>
    <br>

    <ul>
      @for(xyz of operatingSystems; track xyz.id) {
          <li><a href="#{{xyz.name}}'">{{ xyz.id }}--{{ xyz.name }}</a></li>
          }
  </ul>

    <h1>
       On mouse over event on a elemnet  {{isEditable}}
     </h1>
        <div [contentEditable]="isEditable"> </div>
        <br>
        <br>
        <br>
        <button (click)="checkvalue()" value=""> murugan ---- {{xyz}}</button>
        <br>
        <br>
        <br>
        <section (mouseover)="onMouseOver()">
            There's a secret message for you, hover to reveal:
            {{ message }}
          </section>

          <br>
          <br>

          <button (click)="greet()">greet button {{greet1}}</button>
<!-- 
          (focus)="myMethod()"
(blur)="myMethod()" 
(submit)="myMethod()"  
(scroll)="myMethod()"

(cut)="myMethod()"
(copy)="myMethod()"
(paste)="myMethod()"

(keydown)="myMethod()"
(keypress)="myMethod()"
(keyup)="myMethod()"

(mouseenter)="myMethod()"
(mousedown)="myMethod()"
(mouseup)="myMethod()"

(click)="myMethod()"
(dblclick)="myMethod()"

(drag)="myMethod()"
(dragover)="myMethod()"
(drop)="myMethod()" -->